

.accent {
color:crimson;
font-weight: 900;

}

p {
margin: 16px;

}

/*
블록 : 한 줄을 전부
인라인 : 컨텐츠가 가지고 있는 영역 만큼만 차지
*/

/* div {
background-color: aquamarine;
border: 1px solid;
width: 100px;
height: 100px;
display: inline-block;

}   */

.title{
    background-color: blue;
    color: white;
    display: inline;
    width: 200px;
    display: inline;

}


