header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.yukio{
 
}
.yukio-list{
        display: flex;
}
.yukio-list>li{

    margin: 10px 10px;
    
}
ul li {
    list-style: none;
}